.body{
    margin:0px;
}


.h1-title{
    width: 446px;
    height: 66px;
    font-weight: bold;
    font-size: 56px;
    line-height: 60px;
    color: #A0996C;
    margin-left: 80px;
}

.section-coffee-packs{
    display: inline-flex;

}

.div-coffee-packs{
    width: 459px;
    height: 511px;
    background: #F7F1E6;
    margin-left: 80px;
    margin-top: 64px;
    margin-bottom: 32px;
}

.div-coffee-packs-2{
    width: 459px;
    height: 511px;
    background: #F7F1E6;
    margin-left: 32px;
    margin-top: 64px;
    margin-bottom: 32px;
}

.div-coffee-packs-3{
    width: 459px;
    height: 511px;
    background: #F7F1E6;
    margin-left: 32px;
    margin-top: 64px;
    margin-bottom: 32px;
}

.div-coffee-packs-4{
    width: 459px;
    height: 511px;
    background: #F7F1E6;
    margin-left: 80px;
    margin-top: 0px;
    margin-bottom: 32px;

}

.div-coffee-packs-5{   
    width: 459px;
    height: 511px;
    background: #F7F1E6;
    margin-left: 32px;
    margin-top: 0px;
    margin-bottom: 32px;

}



.div-coffee-packs-6{
    width: 459px;
    height: 511px;
    background: #F7F1E6;
    margin-left: 32px;
    margin-top: 0px;
    margin-bottom: 32px;

}


.name-coffee{
    padding-left: 91px;
    padding-right: 90px;
    width: 293px;
    padding-top: 40px;
    margin: 0;
}


.image-coffee-pack{
    padding-left: 144px;
    padding-right: 143px;
    padding-top: 48px;
}


.first-price-coffee{
    padding-left: 148px;
    padding-right: 227px;
    margin-top: 32px;
    width: 80px;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: #0B1D03;
    margin: 0;
}

.second-price-coffee{
    padding-left: 246px;
    padding-right: 147px;
    position: relative;
    bottom: 35px;
    width: 58px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #969696;
    margin: 0;
}

.add-to-cart{
    width: 395px;
    height: 76px;
    background: #0B1D03;
    border-radius: 4px;
    color: white;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 32px;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 21px;
    padding-right: 21px;
}


